<div class="container">
  <mat-card>

    <mat-card-header class="header">
      <mat-form-field>
        <input matInput type="text" placeholder="Type todo here..." [(ngModel)]="inputData.title" required>
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput type="number" [(ngModel)]="inputData.id">
      </mat-form-field> -->
      <button type="submit" class="add-btn" mat-raised-button color="primary" [disabled]=isDisabledBtn (click)="addItem()">Add</button>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor='let item of items'>
          <mat-checkbox [(ngModel)]="item.isChecked" (click)="checkItem(item)" [ngClass]="{isChecked: item.isChecked}">{{ item.title }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card>
</div>
