<div class="container">
  <mat-card>

    <h1>Your's to-do list</h1>

    <mat-divider></mat-divider>

    <mat-card-header class="header">
      <mat-form-field class="add-form">
        <input matInput type="text" placeholder="Type todo here..." [(ngModel)]="inputData.title" (input)="toggleBtn()" required>
      </mat-form-field>
      <button type="submit" class="add-btn" mat-raised-button color="primary" [disabled]=isDisabledBtn (click)="addItem()">Add</button>
      <!-- <button class="add-btn" mat-raised-button color="primary" (click)="orderItems()">Order</button> -->
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor='let item of items'>
          <mat-checkbox [(ngModel)]="item.isChecked" (click)="checkItem(item)" [ngClass]="{isChecked: item.isChecked}">{{ item.title }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card>
</div>
